
{
    "presets": [
        ["@babel/preset-env", { "targets": "defaults" }],
        "@babel/preset-react",
        "react-refresh/babel"
      ],
    "plugins": [
        "@babel/plugin-proposal-private-property-in-object",
        "transform-unicode-property-regex"
    ]
    }